.program1{
    background-color:white;
  
    margin-left: 30px;

}
.eggs{
    border: solid 1px;
    border-color: black;
    width: 20%;
    padding: 10px;
}
.body{
    background-color: rgb(233, 160, 2);
}
#nav > a{
    border:solid 1px;
    border-radius: 8px;
    background:white;
    padding: 2px 2px;
}
#title{
    color:rgb(81, 40, 0);
    float:left;
    width:33%;
    font-size: 3em;
}
#logo > img{
    float:left;
}
.header{
    border:solid 1px;
    overflow: hidden;
    height: 20%;
    background-color: rgb(233, 160, 2);
    padding: 20px;
    text-align: center;
}
#indent{
    text-indent: 15px;
}
